version: "3.11"

services:
  bot:
    build: Fitness_bot
    restart: always
    working_dir: /apps
    container_name: fitness
    environment:
      TOKEN: 6556233345:AAHZ0LIQoRjKk_7wZ25jE_7L1XkbFbzqkzM
      DATABASE : postgres
      DB_USER : postgres
      DB_HOST : pg
      DB_PORT : 5432
      DB_PASSWORD: 1
    command: python3 main.py


  pg:
    image: postgres:15.3-alpine
    restart: always
    container_name: pg
    environment:
      - POSTGRES_PASSWORD=1
    volumes:
      - pg_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"

volumes:
  pg_data:






